body{
    margin-bottom: 50px;
}

#logo{
    margin-top: -14px;
    width: 78px;
}

.btNumero{
    width: 50px;
}

#form:aposta{
    background: #f1f1f1;
}

.btSair{
    margin-top: 10px;
}

html{
    background: url(/ProjetoPraticas/img/Bingo!.JPG) center no-repeat fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; 
}

.sortear{
    margin-top: 15px;
}

.resultado{
    margin-top: 15px;
}

.containerIndex{
    margin-bottom: 20px;
}

.formIndicacao{
    font-size: 30px;
}

.btIndex{
    margin-top: 10px;
}

#editarForm{
    margin-bottom: 40px;
}

#infoProximoConcurso{
    margin-bottom: 15px;
}

#infoProximoConcurso p{
    font-size: 16px;
    font-weight: bold;
}

#apostaForm{
    margin-bottom: 10px;
}

#apostaForm{
    margin-bottom: 10px;
}

.aposta{
    width: 220px;
    margin-right: 10px;
    margin-bottom: 15px;
}

#apostasResultados{
    margin-bottom: 20px;
    margin-top: 20px;
}

.btNumero{
    margin-left: 4px;
    margin-bottom: 4px;
    border-radius: 120%;
}