<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:composite="http://java.sun.com/jsf/composite"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:c="http://java.sun.com/jsp/jstl/core">
    <h:head>
        <title>Administrador</title>
    </h:head>
    <h:body>
        <ui:include src="../header.xhtml"></ui:include>
        <link rel="stylesheet" type="text/css" href="/resources/datetimepicker/jquery.datetimepicker.css"/>
        <div class="container">
            <div class="row">
                <h:form id="form" styleClass="col-md-4 col-md-offset-4">
                    <h3>Novo concurso:</h3>
                    <h:messages layout="table"></h:messages>
                    <div class="form-group">
                        <h:inputText value="#{ControladorConcurso.dataNovoConcurso}" converterMessage="Data Inválida" required="true"
                                     requiredMessage="Data Obrigatória" id="datepicker" styleClass="form-control datepicker">
                        </h:inputText>
                    </div>
                    <h:commandButton action="#{ControladorConcurso.novoConcurso()}" value="Cadastrar" styleClass="btn btn-lg btn-success"></h:commandButton>
                </h:form>
            </div>

            <c:if test="${ControladorConcurso.proximoConcurso != null and ControladorConcurso.proximoConcurso.realizado == false}">
                <div class="well sortear col-md-4 col-md-offset-4">
                    <p styleClass="alert"><b>Próximo Concurso: ${ControladorConcurso.proximoConcurso.id}</b></p>
                    <p styleClass="alert"><b>Data do Sorteio: ${ControladorConcurso.proximoConcurso.dataHora}</b></p>
                    <h:form id="form1">
                        <h:commandButton action="#{ControladorConcurso.realizarSorteio()}" value="Sortear" styleClass="btn btn-lg btn-success"></h:commandButton>
                    </h:form>
                </div>
            </c:if>

            <div class="row resultado">
                <c:if test="${ControladorConcurso.sorteados != null}">
                    <div class="alert alert-success col-md-4 col-md-offset-4">Sorteio Realizado Com sucesso</div>
                    <br></br>
                    <div class="alert alert-info col-md-4 col-md-offset-4"><p>Números Sorteados</p>
                        <p>${ControladorConcurso.sorteados}</p></div>
                </c:if>
            </div> 
        </div>

    </h:body>
</html>

