html{
    background: url(/praticas1/img/Bingo!.JPG) center no-repeat fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;  
}
