<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core">
    <h:head>
        <title>TODO supply a title</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>
        <h:outputStylesheet library="bootstrap" name="css/bootstrap.min.css"/>
        <h:outputStylesheet library="css" name="global.css"/>
        <link rel="stylesheet" type="text/css" href="resources/datetimepicker/jquery.datetimepicker.css"/>
        <script src="resources/datetimepicker/jquery.js" type="text/javascript"></script>
        <script src="resources/datetimepicker/jquery.datetimepicker.js" type="text/javascript"></script>
        <script type="text/javascript">
            $(function() {
                $("#form\\:datepicker").datetimepicker();
            });
        </script>
    </h:head>

    <body>
        <script src="resources/bootstrap/js/jquery.min.js" type="text/javascript"/>
        <script src="resources/bootstrap/js/bootstrap.min.js" type="text/javascript"/>

        <div class="navbar navbar-default navbar-static-top">
            <div class="container">
                <a href="/ProjetoPraticas/" class="navbar-brand"><img src="/ProjetoPraticas/img/logo.fw.png" class="img-responsive" id="logo" alt="Logo"/></a>
                <button class="navbar-toggle" data-toggle = "collapse" data-target = ".custonNavHeaderCollapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div class="collapse navbar-collapse custonNavHeaderCollapse">
                    <ul class="nav navbar-nav navbar-right">
                        <c:if test="#{session.getAttribute('idPessoa')!=null}">
                            <c:if test="${ControladorPessoa.pessoa != null}">
                                <c:choose>
                                    <c:when test="${ControladorPessoa.pessoa.adm}">
                                        <li><a href="/ProjetoPraticas/faces/administrador/PaginaPrincipalAdministrador.xhtml">Minha Pagina</a></li>
                                    </c:when>
                                    <c:otherwise>
                                        <li><a href="/ProjetoPraticas/faces/apostador/PaginaPrincipalApostador.xhtml">Minha Pagina</a></li>
                                    </c:otherwise>
                                </c:choose>
                            </c:if>
                            <li>
                                <h:form>
                                    <h:commandButton value="Sair" styleClass="btn btn-sm btn-danger btSair" action="#{ControladorPessoa.logout()}"></h:commandButton>
                                </h:form>
                            </li>
                        </c:if>
                    </ul>
                </div>

            </div>
        </div>
    </body>
</html>
