<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://java.sun.com/jsf/core"      
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:p="http://primefaces.org/ui"
    xmlns:pt="http://xmlns.jcp.org/jsf/passthrough">
    <h:head>
        <title>Bem Vindo</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </h:head>
    <h:body>
        <ui:include src="header.xhtml"/>
        <div class="container containerInde pull-left col-xs-8 col-xs-offset-2">
            <c:if test="${session.getAttribute('idPessoa')== null}">
                <h:form class="col-lg-5 col-xs-12 pull-left">
                    <h3 class="label formIndicacao">Entre na sua Conta</h3>
                    <h:messages layout="table"></h:messages>
                    <div class="form-group">
                        <h:inputText id="email" class="col-xs-12 input-lg" value="#{ControladorPessoa.email}" pt:placeholder="Email" rendered="true" requiredMessage="Email Obrigatório"></h:inputText>
                    </div>

                    <div class="form-group">
                        <h:inputSecret id="senha" class="col-xs-12 input-lg" value="#{ControladorPessoa.senha}" pt:placeholder="Senha" required="true" requiredMessage="Senha Obrigatória"></h:inputSecret>
                    </div>
                    <h:commandButton  value="Entrar" class="btn btn-lg btn-success btIndex pull-right" action="#{ControladorPessoa.login()}"></h:commandButton>
                </h:form>

                <h:form class="col-lg-5 col-xs-12 pull-right">
                    <h3 class="label formIndicacao">Faça seu cadastro!</h3>
                    <h:messages layout="table"></h:messages>
                    <div class="form-group">
                        <h:inputText id="nome" class="col-xs-12 input-lg" value="#{ControladorPessoa.pessoa.nome}" pt:placeholder="Nome Completo" required="true" requiredMessage="Nome Obrigatório"></h:inputText>    
                    </div>
                    <h:message for="nome"></h:message>

                    <div class="form-group">
                        <h:inputText id="email" class="col-xs-12 input-lg" value="#{ControladorPessoa.pessoa.email}" pt:placeholder="Email" required="true" requiredMessage="Email Obrigatório"></h:inputText>    
                    </div>
                    <h:message for="email"></h:message>

                    <div class="form-group">
                        <h:inputSecret id="senha" class="col-xs-12 input-lg" value="#{ControladorPessoa.pessoa.senha}" pt:placeholder="Senha" required="true" requiredMessage="Senha Obrigatória"></h:inputSecret>    
                    </div>
                    <h:message for="senha"></h:message>

                    <h:commandButton value="Cadastrar-se" class="btn btn-lg btn-success btIndex pull-right" action="${ControladorPessoa.save()}"></h:commandButton>
                </h:form> 
            </c:if>
        </div>
    </h:body>
</html>