<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
    <h:head>
        <title>Apostas e Resultados</title>
        <!-- DataTables CSS -->
        <link rel="stylesheet" type="text/css" href="../resources/dataTables/jquery.dataTables.css"/>
        <!-- DataTables -->
        <script type="text/javascript" charset="utf8" src="../resources/dataTables/jquery.dataTables.js"></script>
        <script type="text/javascript" src="../resources/js/startTable.js"></script>
    </h:head>
    <h:body onload="startTable()">
        <ui:include src="../header.xhtml"></ui:include>
        <div class="container">
            <div class="row">
                <a class="btn btn-primary btn-large" href="PaginaPrincipalApostador.xhtml">Voltar</a>
            </div>

            <div class="table-responsive">
                <table id="apostas" class="table display">
                    <thead>
                        <tr>
                            <th>Id Aposta</th>
                            <th>Números Apostados</th>
                            <th>Id Concurso</th>
                            <th>Números Sorteados</th>
                            <th>Resultado</th>
                        </tr>
                    </thead>
                    <tbody>
                        <c:forEach items="#{ControladorPessoa.pessoa.aposta}" var="aposta">
                            <tr class="warning">
                                <td>${aposta.id}</td>
                                <td>${aposta.numeros}</td>
                                <td>${aposta.concurso.id}</td>
                                <c:choose>
                                    <c:when test="${aposta.concurso.numeros != null}">
                                        <td>${aposta.concurso.numeros}</td>
                                    </c:when>
                                    <c:otherwise>
                                        <td>Sorteio não realizado</td>
                                    </c:otherwise>
                                </c:choose>
                                <c:choose>
                                    <c:when test="${aposta.concurso.numeros == null}">
                                        <td>-----</td>
                                    </c:when>
                                    <c:when test="${aposta.numeros.toString() eq aposta.concurso.numeros.toString()}">
                                        <td>Acertou</td>
                                    </c:when>
                                    <c:otherwise>
                                        <td>Errou</td>
                                    </c:otherwise>
                                </c:choose>
                            </tr>
                        </c:forEach>
                    </tbody>
                </table>
            </div>
        </div>
    </h:body>
</html>

