<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
      xmlns:pt="http://xmlns.jcp.org/jsf/passthrough">
    <h:head>
        <title>Editar</title>
    </h:head>
    <h:body>
        <ui:include src="../header.xhtml"/>
        <div class="container">
            <h:form id="editarForm" styleClass="col-md-6 col-md-offset-3">
                <h3>Editar perfil</h3>
                <div class="form-group">
                    <h:inputText value="#{ControladorPessoa.pessoa.nome}" pt:placeholder="Nome" rendered="true" requiredMessage="Nome" styleClass="form-control"></h:inputText>
                </div>
                <div class="form-group">
                    <h:inputText value="#{ControladorPessoa.pessoa.email}" pt:placeholder="Nome" rendered="true" requiredMessage="Nome" styleClass="form-control"></h:inputText>
                </div>
                <h:commandButton action="#{ControladorPessoa.editarPessoa}" value="Salvar" styleClass="btn btn-lg btn-primary pull-right"/>
            </h:form>
        </div>
    </h:body>
</html>

