<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://java.sun.com/jsf/core"      
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:p="http://primefaces.org/ui">

    <h:body>
        <ui:include src="../header.xhtml"/>
        <script src="../resources/js/carregarNumeros.js" type="text/javascript"/>

        <div class="container">
            <a href="/ProjetoPraticas/faces/apostador/EditarApostador.xhtml" class="btn btn-info btn-info pull-right">Editar</a>
            <div id="infoProximoConcurso">
                <p>#{ControladorPessoa.pessoa.nome}</p>
                <p>Próximo Concurso: #{ControladorConcurso.proximoConcurso.id}</p>
                <h:outputText value="Data do Sorteio: #{ControladorConcurso.proximoConcurso.dataHora}" >
                    <f:convertDateTime dateStyle="full" timeZone="EST" type="date" pattern="dd-MM-yyyy"/>
                </h:outputText>

            </div>
            <c:choose>
                <c:when test="#{ControladorConcurso.proximoConcurso != null}">
                    <h:form id="form" class="col-md-4 col-md-offset-4">
                        <h:inputText id="aposta" value="#{ControladorPessoa.numeros}" readonly= "#{facesContext.renderResponse}" styleClass="form-control aposta pull-left"></h:inputText>
                        <h:commandButton id="realizar" class="btn btn-warning pull-left" action="#{ControladorPessoa.gerarAposta()}" value="Apostar"></h:commandButton>
                    </h:form> 
                    <div class="col-md-4 col-md-offset-4">
                        <c:forEach begin="1" end="60" var="count" >
                            <input id="${count}" value="${count}" type="button" class="btNumero btn btn-info btn-large" onclick="carregarNumeros(this)"></input>
                            <c:if test="${count mod 6 == 0}">
                                <br/>
                            </c:if>
                        </c:forEach>
                    </div>
                </c:when>
                <c:otherwise>
                    <label>Não há concursos cadastros no momento</label>
                </c:otherwise>
            </c:choose>

            <div class="row col-md-4 col-md-offset-4" id="apostasResultados">
                <a class="btn btn-block btn-primary" href="/ProjetoPraticas/faces/apostador/ApostasEResultados.xhtml">Apostas e resultados</a>
            </div>

        </div>
    </h:body>
</html>
